<array>
		<dict>
			<key>File Name</key>
			<string>1</string>
			<key>Name</key>
			<string>Milkchurn Peg</string>
			<key>Reading</key>
			<string>&quot;Plant and harvest your thoughts and wishes&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>2</string>
			<key>Name</key>
			<string>The Pond Faery</string>
			<key>Reading</key>
			<string>&quot;Feel the Cool Depths&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>3</string>
			<key>Name</key>
			<string>The Traveller</string>
			<key>Reading</key>
			<string>&quot;There is joy in everything, there is kindness everywhere&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>4</string>
			<key>Name</key>
			<string>Puck</string>
			<key>Reading</key>
			<string>&quot;Time for a bit of mischief!&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>5</string>
			<key>Name</key>
			<string>Cythera</string>
			<key>Reading</key>
			<string>&quot;Think about what you ask for&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>6</string>
			<key>Name</key>
			<string>Deirdra of the sorrows</string>
			<key>Reading</key>
			<string>&quot;It’s alright to be sad sometimes&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>7</string>
			<key>Name</key>
			<string>Kit</string>
			<key>Reading</key>
			<string>&quot;It’s ok to be grumpy&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>8</string>
			<key>Name</key>
			<string>Carrabose - The 13th Faery</string>
			<key>Reading</key>
			<string>&quot;Sometimes that’s just the way it is&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>9</string>
			<key>Name</key>
			<string>The Faery Queen</string>
			<key>Reading</key>
			<string>&quot;To love, to lose, to break, to mend – we all experience these things&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>10</string>
			<key>Name</key>
			<string>The Faery Healer</string>
			<key>Reading</key>
			<string>&quot;Heal what you can&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>11</string>
			<key>Name</key>
			<string>The Moss Woman</string>
			<key>Reading</key>
			<string>&quot;Be open to kindness when it comes your way&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>12</string>
			<key>Name</key>
			<string>Callista</string>
			<key>Reading</key>
			<string>&quot;Everyone has secrets&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>13</string>
			<key>Name</key>
			<string>The Faery Godmother</string>
			<key>Reading</key>
			<string>&quot;Make a wish&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>14</string>
			<key>Name</key>
			<string>Alice</string>
			<key>Reading</key>
			<string>&quot;Look closer  - What do you see?&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>15</string>
			<key>Name</key>
			<string>Mara</string>
			<key>Reading</key>
			<string>&quot;Enchant those around you&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>16</string>
			<key>Name</key>
			<string>The Faery Guide</string>
			<key>Reading</key>
			<string>&quot;Step into faerie&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>17</string>
			<key>Name</key>
			<string>Your Other Faery Godmother</string>
			<key>Reading</key>
			<string>&quot;Make sure you know what you’re wishing for&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>18</string>
			<key>Name</key>
			<string>The Faery Piper</string>
			<key>Reading</key>
			<string>&quot;Follow the music&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>19</string>
			<key>Name</key>
			<string>Flora</string>
			<key>Reading</key>
			<string>&quot;Look for the beauty in that which surrounds you&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>20</string>
			<key>Name</key>
			<string>Alison Gross</string>
			<key>Reading</key>
			<string>&quot;Look beyond  - What do you see?&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>21</string>
			<key>Name</key>
			<string>The Banshee</string>
			<key>Reading</key>
			<string>&quot;Connect with your ancestors&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>22</string>
			<key>Name</key>
			<string>The Watcher</string>
			<key>Reading</key>
			<string>&quot;It is a time for watching and waiting&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>23</string>
			<key>Name</key>
			<string>The King</string>
			<key>Reading</key>
			<string>&quot;It isn’t always about you&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>24</string>
			<key>Name</key>
			<string>Sweet Cecilia</string>
			<key>Reading</key>
			<string>&quot;Be a good faery!&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>25</string>
			<key>Name</key>
			<string>The House Brownie</string>
			<key>Reading</key>
			<string>&quot;Keep your thoughts and house in order&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>26</string>
			<key>Name</key>
			<string>The Leprechaun</string>
			<key>Reading</key>
			<string>&quot;Follow the rainbow, Seek the gold&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>27</string>
			<key>Name</key>
			<string>The Phantom Lover</string>
			<key>Reading</key>
			<string>&quot;Sometimes it’s good to dream in secret&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>28</string>
			<key>Name</key>
			<string>It’s Only Me!</string>
			<key>Reading</key>
			<string>&quot;Here’s looking at you&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>29</string>
			<key>Name</key>
			<string>The Frog Prince</string>
			<key>Reading</key>
			<string>&quot;Love can be anything you want it to be&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>30</string>
			<key>Name</key>
			<string>The Bad Boy</string>
			<key>Reading</key>
			<string>&quot;Be careful&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>31</string>
			<key>Name</key>
			<string>The Good Companion</string>
			<key>Reading</key>
			<string>&quot;Smile a faery’s smile&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>32</string>
			<key>Name</key>
			<string>The Faery Sister</string>
			<key>Reading</key>
			<string>&quot;Love the years&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>33</string>
			<key>Name</key>
			<string>Far Seer</string>
			<key>Reading</key>
			<string>&quot;Call upon your inner strength&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>34</string>
			<key>Name</key>
			<string>Little Cat Faery</string>
			<key>Reading</key>
			<string>&quot;Think like a cat&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>35</string>
			<key>Name</key>
			<string>Alyssa</string>
			<key>Reading</key>
			<string>&quot;Know your need&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>36</string>
			<key>Name</key>
			<string>The Shadow Man</string>
			<key>Reading</key>
			<string>&quot;Be aware of the shadow side&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>37</string>
			<key>Name</key>
			<string>The Boy</string>
			<key>Reading</key>
			<string>&quot;How old am I  - how old are you?&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>38</string>
			<key>Name</key>
			<string>King Henry’s Wife</string>
			<key>Reading</key>
			<string>&quot;Take pride in who you are&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>39</string>
			<key>Name</key>
			<string>The Selkie</string>
			<key>Reading</key>
			<string>&quot;Feel the pull of the tides&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>40</string>
			<key>Name</key>
			<string>The Wisht Hound</string>
			<key>Reading</key>
			<string>&quot;Run with the hunt&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>41</string>
			<key>Name</key>
			<string>The Dryad</string>
			<key>Reading</key>
			<string>&quot;Sometimes the answer is hidden in the green&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>42</string>
			<key>Name</key>
			<string>The Soul of Faerie</string>
			<key>Reading</key>
			<string>&quot;There is wisdom in everyone&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>43</string>
			<key>Name</key>
			<string>Button</string>
			<key>Reading</key>
			<string>&quot;Feeling slightly guilty?&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>44</string>
			<key>Name</key>
			<string>The Faery Diplomat</string>
			<key>Reading</key>
			<string>&quot;Approach your problems with diplomacy&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>45</string>
			<key>Name</key>
			<string>Faery Hare</string>
			<key>Reading</key>
			<string>&quot;Remember your childhood, Remember me&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>46</string>
			<key>Name</key>
			<string>Tinker Bell</string>
			<key>Reading</key>
			<string>&quot;Believe&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>47</string>
			<key>Name</key>
			<string>One Who Waits</string>
			<key>Reading</key>
			<string>&quot;Remember absent loved ones&quot;</string>
		</dict>
		<dict>
			<key>File Name</key>
			<string>48</string>
			<key>Name</key>
			<string>The Faery of The Stream</string>
			<key>Reading</key>
			<string>&quot;Listen to the music of the stream&quot;</string>
		</dict>
</array>